# version: '3.9'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-lmsdb}
      POSTGRES_USER: ${POSTGRES_USER:-lmsuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-changeme}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - lms_net

  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: ${POSTGRES_DB:-lmsdb}
      POSTGRES_USER: ${POSTGRES_USER:-lmsuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-changeme}
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    volumes:
      - ./backend/media:/app/media
      - ./backend/staticfiles:/app/staticfiles
      - ./backend/logs:/app/logs
    networks:
      - lms_net

  react-admin:
    build:
      context: ./admin
      args:
        REACT_APP_API_URL: "http://72.62.232.8:8000/"
    container_name: react-admin
    restart: unless-stopped
    networks:
      - lms_net

  react-student:
    build:
      context: ./student
      args:
        REACT_APP_API_URL: "http://72.62.232.8:8000/"
#        PUBLIC_URL: /student
    container_name: react-student
    restart: unless-stopped
    networks:
      - lms_net

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/html:/usr/share/nginx/html
      - ./backend/media:/usr/share/nginx/html/media
    depends_on:
      - react-admin
      - react-student
      - backend
    networks:
      - lms_net

volumes:
  postgres_data:

networks:
  lms_net:
    driver: bridge
